@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-sans;
}

.custom-border {
    @apply border-2 border-red-400
}

.main-content-holder {
    @apply flex p-3 bg-slate-200;
}

.modal-animation {
    @apply transition-all duration-500 ease-in-out transform;

}

/*item model styles*/
.modal {
    @apply fixed inset-0 flex items-center justify-center z-40 backdrop-blur-sm bg-gray-400/25 transition-transform ease-out;
}

.modal-content {
    @apply bg-white rounded-lg p-6 shadow-lg w-full max-w-lg;
}

.cultivate-modal-content-body {
    @apply w-full;
}

.cultivate-modal-content {
    @apply !max-w-2xl h-full overflow-y-auto p-3 box-border rounded-xl;
}

.modal-header {
    @apply flex justify-between items-center border-b pb-2 mb-4;
}

.modal-title {
    @apply text-lg font-semibold;
}

.modal-body {
    @apply  p-4 overflow-y-auto max-h-[70vh];
}

.item-holder {
    @apply w-80
}

.item-image {
    @apply w-full h-full object-cover rounded;
}

.modal-footer {
    @apply flex justify-end space-x-2 pt-4 border-t;
}

.form-label {
    @apply text-sm font-medium text-gray-700;
}

.form-control {
    @apply w-full border border-gray-300 rounded-md px-3 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500;
}

.file-input {
    @apply file:mr-4 file:py-2 file:px-4 file:rounded file:border-0 file:bg-gray-200 file:text-sm file:font-semibold;
}

.save-button {
    @apply bg-customBlue text-white px-5 py-2 hover:bg-cyan-600 rounded-lg;
}

.delete-button {
    @apply w-fit h-fit bg-red-500 text-white p-3 rounded-full hover:bg-red-600 ;
}

.cancel-button {
    @apply text-customBlue px-4 py-2 rounded-lg hover:bg-gray-100;
}

.field-map {
    @apply w-full h-full border border-gray-300 rounded-lg;
}

.item-expand {
    @apply overflow-hidden transition-all duration-300 ease-in-out;
}

.main-content {
    @apply w-full;
}

.main-border {
    @apply mt-2 h-55 ;
}

.card-update-btn {
    @apply w-12 h-12 p-14p rounded-full bg-green-200;
}

.card-label {
    @apply text-sm font-semibold text-customGray;
}

.card-title {
    @apply text-2xl font-semibold text-gray-600;
}

.card-sub-title {
    @apply text-sm;
}

/*Crop card styles*/
.crop-card {
    @apply w-72;
}

.crop-card-cat {
    @apply font-semibold text-green-600 text-20p
}

.season-title {
    @apply font-semibold py-1 px-2 rounded-lg bg-orange-200 text-amber-950;
}

.crop-card-header {
    @apply flex;
}

.crop-update-btn-pos {
    @apply self-end relative -left-16;
}

.crop-card-img-holder {
    @apply w-52 h-52 rounded-full border-4 border-green-200 overflow-hidden;
}

.crop-card-img {
    @apply w-full h-full object-cover;
}

.crop-card-body {
    @apply border -mt-32 pt-36 rounded-custom px-3 pb-3;
}

.crop-card-time {
    @apply font-semibold py-1;
}

.custom-sidebar {
    @apply w-20% h-96;
}

.main-header {
    @apply w-full h-12;
}

.custom-layout {
    @apply border bg-white rounded-lg p-3;
}

.crop-container {
    @apply flex gap-2;
}

.crop-list {
    @apply w-4/6 flex flex-col gap-4;
}

.crop-graphs {
    @apply w-2/6;
}

.list-header-title {
    @apply flex gap-4;
}

.list-title {
    @apply text-4xl font-semibold text-dimgrey;
}

.custom-persist-btn {
    @apply bg-white border-2 border-gray-300 rounded-md px-2 py-2 font-semibold text-dimgrey;
}

.list-sub-title {
    @apply text-dimgrey;
}

.crop-list-body {
    @apply h-6/7 overflow-hidden;
}

.staff-list-body {
    @apply h-44v overflow-hidden;
}

.list-body {
    @apply h-21r overflow-hidden;
}

.custom-list-cards {
    @apply mt-1 flex flex-wrap overflow-y-auto gap-x-16 gap-y-3 px-4 ;
}

.custom-list-row {
    @apply flex flex-col overflow-y-auto gap-2;
}

.crop-list-items {
    @apply h-75v;
}

.custom-searchbar {
    @apply border rounded-full w-96 h-11 flex pl-3;
}

.search-input {
    @apply rounded-full;
}

.search-btn {
    @apply w-14 rounded-full pl-1 flex justify-center items-center hover:bg-gray-100;
}

.staff-container {
    @apply flex w-full gap-2;
}

.staff-container-left, .staff-container-right {
    @apply w-1/2 gap-2 flex flex-col;
}

.staff-content-header {
    @apply h-2/5;
}

.staff-holder {
    @apply h-3/5;
}

.vehicle-holder, .equipment-holder {
    @apply h-1/2;
}

.list-items {
    @apply w-full my-1 overflow-auto;
}

.staff-list-h {
    @apply h-5/6
}

.vehicle-list-h, .equipment-list-h {
    @apply h-5/6
}

.staff-card, .vehicle-card, .equipment-card, .crop-card-row {
    @apply flex items-center bg-white p-2 shadow-sm rounded-lg hover:bg-gray-100 transition-colors duration-300 space-x-4;
}

.vehicle-card, .equipment-card {
    @apply h-14;
}

.field-container {
    @apply flex flex-col gap-2;
}

.field-container-header {
    @apply h-1/4;
}

.field-container-body {
    @apply h-3/4 flex gap-2;
}

.field-list-holder {
    @apply w-1/2 flex flex-col;
}

.field-list-header {
    @apply h-1/5 p-2;
}

.field-list-items {
    @apply h-4/5 p-2;
}

.field-list-title {
    @apply mb-1
}

.field-map-holder {
    @apply w-1/2;
}

.field-title {
    @apply text-3xl font-semibold text-dimgrey;
}

.field-sub-title {
    @apply text-dimgrey;
}

.dashboard-container {
    @apply flex flex-row gap-2;
}

.dashboard-left {
    @apply flex flex-col w-4/6 gap-2;
}

.dashboard-right {
    @apply w-2/6 flex flex-col gap-2;
}

.graph-and-progress {
    @apply flex h-2/5 gap-2;
}

.dashboard-task {
    @apply h-3/5
}

.dashboard-graph {
    @apply w-2/3
}

.field-progress {
    @apply w-1/3
}

.dashboard-calender {
    @apply h-4/6
}

.business-progress {
    @apply h-1/3;
}

.dashboard-right-bottom {
    @apply h-3/6 flex gap-2;
}

.monthly-task {
    @apply w-1/2
}

.blank {
    @apply w-1/2
}

.field-card {
    @apply h-44 border rounded-lg bg-white w-full flex p-2;
}

.field-card-header {
    @apply w-1/4 rounded-sm overflow-hidden;
}

.field-card-img {
    @apply w-full h-full object-cover;
}

.field-card-body {
    @apply w-2/4 pl-3;
}

.field-card-footer {
    @apply w-1/4 p-2;
}

.custom-card-header {
    @apply font-semibold text-gray-800 text-2xl;
}

.custom-card-header-md {
    @apply font-semibold text-gray-400 text-xl;
}

.field-card-location {
    @apply font-semibold text-gray-700 text-lg;
}

.field-card-crop-name {
    @apply bg-green-500 py-1 px-2 w-fit rounded-sm text-white font-semibold text-sm;
}

.field-card-harvest-stat {
    @apply font-semibold text-base text-green-700;
}

.field-card-uncultivated {
    @apply font-semibold text-yellow-600 text-lg;
}

.field-card-footer-top {
    @apply flex h-1/2;
}

.field-card-footer-bottom {
    @apply h-1/2 flex items-center justify-end;
}

.field-update-btn {
    @apply block;
}

.field-card-staff-count, .field-card-equipment-count {
    @apply w-1/2 flex flex-col;
}

.field-card-counts {
    @apply text-2xl font-bold text-gray-600 mt-1 self-center;
}

.field-map-container {
    @apply w-full h-[400px]
}

.activity-container {
    @apply flex gap-2;
}

.unCultivated-fields {
    @apply w-3/5;
}

.activity-details {
    @apply w-2/5 flex flex-col gap-2;
}

.activity-more {
    @apply h-2/5 flex gap-2;
}

.cultivated-fields {
    @apply h-3/5
}

.blank-2 {
    @apply w-1/2
}

.used-props-details {
    @apply w-1/2
}

.uncultivated-field-body {
    @apply h-5/6 p-2 mt-6 !gap-x-4;
}

/*uncult card*/
.uncult-card {
    @apply w-72 h-64 border p-2 rounded-lg;
}

.uncult-card-header {
    @apply w-full h-40 overflow-hidden rounded-sm;
}

.uncult-card-header-img {
    @apply w-full h-full object-cover;
}

.uncult-card-name {
    @apply font-semibold text-xl text-gray-600;
}

.uncult-card-address, .uncult-card-size{
    @apply font-semibold flex gap-2 items-center;
}

.custom-modal {

}

.field-details-holder {
    @apply w-full h-72 flex flex-col items-end justify-end;
}

.field-details-img-holder {
    @apply w-full h-full overflow-hidden rounded-lg;
}

.field-details-img {
    @apply w-full h-full object-cover pointer-events-none;
}

.field-details {
    @apply absolute w-72 h-24 bg-white rounded-tl-2xl pt-2 pl-4;
}

.field-details::before {
    content: '';
    @apply absolute -left-6 bottom-0 w-6 h-6 bg-transparent rounded-full;
    box-shadow: 10px 10px 0 white;
}

.field-details::after {
    content: '';
    @apply absolute -top-6 right-0 w-6 h-6 bg-transparent rounded-full;
    box-shadow: 10px 10px 0 white;
}

.crop-details {
    @apply w-80;
}

.crop-details-holder {
    @apply mt-3 h-44 pt-3 flex flex-row gap-5;
}

.crop-details-img-holder {
    @apply w-40 h-40 rounded-lg overflow-hidden;
}

.crop-details-img {
    @apply w-full h-full object-cover
}

.crop-details-btn-holder {
    @apply w-40 p-2 flex;
}

.crop-details-btn-animation {
    @apply top-8 right-0 absolute transform -translate-y-1/2 opacity-0 group-hover:opacity-100 group-hover:translate-x-2 transition-all duration-300;
}

.crop-add-btn, .staff-add-btn {
    @apply w-10 h-10 rounded-full bg-customBlue flex justify-center items-center;
}

.staff-details-holder {
    @apply w-full h-80 mt-3 mb-9 py-1;
}

.staff-details-header {
    @apply flex h-11 items-center justify-between;
}

.staff-details-btn-holder {
    @apply top-6 right-4 absolute transform -translate-y-1/2 opacity-0 group-hover:opacity-100 group-hover:translate-x-2 transition-all duration-300;
}

.staff-details-title {
    @apply font-semibold text-xl text-gray-500;
}

.proceed-btn-holder {
    @apply w-full h-12;
}

.proceed-btn {
    @apply w-full h-full bg-green-500 hover:bg-green-600 hover:ease-in-out hover:duration-300 duration-300 text-white font-semibold rounded-md;
}

.staff-details-list {
    @apply h-[300px] overflow-auto;
}

.remove-btn {
    @apply w-10 h-10 bg-red-600 rounded-full flex items-center justify-center;
}

.item-holder-modal {
    @apply fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center !z-50;
}

.staff-crop-holder {
    @apply h-[400px] border;
}


.card-row-header {
    @apply w-12 h-12 flex-shrink-0 rounded-full overflow-hidden;
}

.card-row-body {
    @apply flex flex-1 justify-between items-center;
}